{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "quoteProps": "consistent",
  "overrides": [
    {
      "files": [
        "*.scss",
        "*.css"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "semi": false,
  "arrowParens": "avoid",
  "trailingComma": "all"
}
